body {
    font-family: 'Raleway';
    color: #343a40;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #667db6, #0082c8, #0082c8, #667db6);
    height: 100vh;
    overflow-x: hidden;
}

#loginFormContainer {
    position: absolute;
    left: 50%;
    top: 200px;
}

#loginForm {
    opacity: 1; /* TODO: REMOVE */
    background: #f5f5f5;
    position: relative;
    width: 500px;
    height: 200px;
    padding: 50px;
    left: -50%;
    text-align: center;
}

#loginFormInput {
    margin-top: 40px;
    width: calc(100% - 24px - 50px);
    height: 30px;
    font-size: 15px;
    padding: 6px 12px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: -4px;
    border: 1px solid #ced4da;
    border-right: none;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    vertical-align: bottom;
}

#loginFormInput:focus {
    outline: none;
    border: 1px solid #0082c8;
    border-right: none;
}

#loginFormBtn {
    width: 42px;
    height: 44px;
    font-size: 15px;
    background: #28a745;
    margin-left: 0;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background 0.25s;
    -webkit-transition: background 0.25s;
}

#loginFormBtn:hover {
    cursor: pointer;
    background: #199836;
}

#loginFormBtn:disabled {
    cursor: not-allowed;
    background: #48c765;
}

#todoContainer {
    display: none;
    opacity: 0; /* TODO: REMOVE */
    position: absolute;
    padding: 50px 0 50px 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#todoContainer::-webkit-scrollbar {
    height: 10px;
}

#todoContainer::-webkit-scrollbar-thumb {
    height: 10px;
    background: #f8f9fa50;
}

#todoContainer::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa;
}

.red {
    background: #ff7979;
}

.blue {
    background: #7ed6df;
}

.green {
    background: #badc58;
}

.yellow {
    background: #f6e58d;
}

.orange {
    background: #ffbe76;
}

.todoListColorPickerColor {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.todoListColorPickerColor:hover {
    cursor: pointer;
}

.todoListContainer {
    display: inline-block;
    vertical-align: top;
    background: #f5f5f5;
    border-radius: 4px;
    width: 300px;
    padding: 25px;
    margin-right: 50px;
}

.todoListTitle {
    float: left;
}

.todoListAddBtn {
    float: right;
    color: #343a40;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

.todoListAddBtn:hover {
    cursor: pointer;
    color: #28a745;
}

.todoListColorPicker {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 166px;
    height: 30px;
    padding: 10px;
}

.todoListContent {
    margin-top: 35px;
    width: 100%;
    min-height: 40px;
    max-height: 75vh;
    overflow-y: scroll;
}

.todoListContent input {
    color: #343a40;
    font-size: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.todoListContent input:focus {
    border-color: #343a40;
}

.todoListContent::-webkit-scrollbar {
    width: 5px;
}

.todoListContent::-webkit-scrollbar-thumb {
    background: #6c757d10;
    width: 5px;
}

.todoListContent::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}

.todoListTask {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    min-height: 50px;
    margin-bottom: 5px;
}

.todoListTaskCheck {
    float: left;
    background: #7ed6df;
    width: 50px;
    text-align: center;
}

.todoListTaskCheckBox {
    color: white;
    font-size: 26px;
    margin-top: calc(50% - 13px);
}

.todoListTaskCheckBox:hover {
    cursor: pointer;
    color: #f5f5f5;
}

.todoListTaskClose {
    float: right;
    width: 20px;
    text-align: center;
}

.todoListTaskCloseBtn {
    color: #343a40;
    font-size: 15px;
    margin-top: 5px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

.todoListTaskCloseBtn:hover {
    cursor: pointer;
    color: #dc3545;
}

.todoListTaskSubmitBtn {
    color: #343a40;
    font-size: 15px;
    margin-top: 5px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

.todoListTaskSubmitBtn:hover {
    cursor: pointer;
    color: #28a745;
}

.todoListTaskContent {
    float: left;
    width: calc(100% - 90px);
    padding: 10px;
    word-wrap: break-word;
}
